<%= turbo_frame_tag dom_id column do %>
  <div class='column'>
    <%= link_to '', board_column_path(board_id: board_id, id: column.id), class: 'column__delete', method: :delete, data: {confirm: 'Are you sure?'} %>
    <div class='column__title'>
      <%= column.name %>
    </div>
    <div class='column__body' data-controller="trello" data-trello-column-id-value="<%= column.id%>">
      <%= render partial: 'cards/card', collection: column.cards, locals: { board_id: column.board.id, column_id: column.id } %>
        <%= render partial: 'cards/form',
                   locals: {
                      klass: '',
                      card: Card.new(column_id: column.id),
                      url: board_column_cards_path(board_id: board_id, column_id: column.id)
                    }
        %>

      <div data-trello-target='addForm'>
        <%= render partial: 'cards/form',
                   locals: {
                      klass: 'hidden',
                      card: Card.new(column_id: column.id),
                      url: board_column_cards_path(board_id: board_id, column_id: column.id)
                    }
        %>
      </div>
    </div>
  </div>
<% end %>
