<h1 class='title'>Boards</h1>

<%= link_to new_board_path, class: 'w-full flex ' do %>
  <%= render(ButtonComponent.new(text: 'New Board')) %>
<% end %>

<hr class='my-5'>

<%= turbo_stream_from "boards" %>

<%= turbo_frame_tag "boards" do %>
  <div class='grid grid-cols-2 md:grid-cols-4 gap-4 mt-4'>
    <%= render @boards %>
  </div>
<%end%>
