<%= turbo_frame_tag "board" do %>
  <h1 class='title'><%= @board.name %></h1>

  <div class='divide-x-2 divide-gray-600'>
    <%= link_to boards_path, class: 'link', "data-turbo-frame": "_top" do %>
      <i class='fas fa-chevron-left'></i>
      Back
    <% end %>

    <%= link_to edit_board_path(@board), class: 'link', "data-turbo-frame": "_top" do %>
      <i class='fas fa-edit ml-2'></i>
      Edit
    <% end %>
  </div>
<% end %>

<div class="d-flex">
  <div class="board">
    <%= render partial: 'columns/column', collection: @board.columns.includes(:cards), locals: { board_id: @board.id} %>
    <div class='column column--new'>
      <%= render partial: 'columns/form',
                locals: {
                  klass: '',
                  column: Column.new(board_id: @board.id),
                  url: board_columns_path(board_id: @board.id)
                }
      %>
    </div>
  </div>
</div>
