<%= turbo_frame_tag "board" do %>
  <%= render @board %>

  <p>
    <%= link_to 'Edit', edit_board_path(@board) %> |
    <%= link_to 'Back', boards_path, "data-turbo-frame": "_top" %>
  </p>
<% end %>

<div class="d-flex">
  <div class="board">
    <%= render partial: 'columns/column', collection: @board.columns.includes(:cards), locals: { board_id: @board.id} %>
  </div>
</div>
