<div class='card' id="<%= dom_id card %>" data-position='<%= card.position %>' data-id="<%= card.id %>" data-new-card='false'>
    <%= link_to '', board_column_card_path(board_id: board_id, column_id: column_id, id: card.id), class: 'card__delete', method: :delete, data: {confirm: 'Are you sure?'}%>
    <div class='card__header'>
      <div class='card__title'>
      <%= turbo_frame_tag dom_id card do %>
        <%= link_to card.name, edit_board_column_card_path(board_id: board_id, column_id: column_id, id: card.id), data: {turbo_frame: dom_id(card)}%>
      <%end%>
      </div>
    </div>
    <%= render 'cards/form', card: card, klass: 'hidden', url: board_column_card_path(board_id: board_id, column_id: column_id, id: card.id) %>
</div>
