<%= form_with(model: post) do |form| %>
  <%= render 'shared/error_messages', resource: post %>

  <%= render(FieldComponent.new(:title, form: form, placeholder: 'Title', required: true)) %>
  <%= render(FieldComponent.new(:body, form: form, placeholder: 'Body', required: true)) %>

  <div class='actions'>
    <%= form.submit %>
  </div>
<% end %>
