<%= render @post %>

<div class='flex flex-row'>
  <%= link_to edit_post_path(@post), data: { turbo_frame: "_top" } do %>
    <%= render(ButtonComponent.new(text: 'Edit', css_class: 'mt-2 mb-5 w-16')) %>
  <% end %>
  <%= link_to posts_path, data: { turbo_frame: "_top" } do %>
    <%= render(ButtonComponent.new(text: 'Back', css_class: 'mt-2 mb-5 ml-2 w-16')) %>
  <% end %>
</div>

